*{
    margin: 0px;
    padding: 0px;
}
body{
    background: url("../media/back.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;    
}
 #navegacion{
    margin-top: 10px; 
    margin-left: 80%;
} 
 div.caja1{
     width: 720px;  
    height: 600px; 
    margin-top: auto;
    margin-left:auto;
    margin-bottom: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.caja2{
    background-image: url("../bg1.png"); 
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
      /* background-attachment: fixed;   */
    max-width: 100%; /* Con esto se arregla el responsive del background */

}
div#bgc{
    width: 300px;
    margin: auto;    
    display: table-cell;
    vertical-align: middle;
}
.espaciado{
    line-height: 50px;
}
.space{
    margin-left: 40px;
}
.spaceabj{
    line-height: 90px;
}
.tryal{
    line-height: 70px;
}
.tam{
    font-size: 20px;
}
.tam2{
    font-size: 25px;
}
.position{
    margin-left: 30%;
}
div.boton1 {
     /* width: 100px;  */
    background-image: url("../media/boton2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
span.boton22{
    width: 130px;
    background-image: url("../media/boton2.png");
    background-repeat: no-repeat;
    background-size: 120px;
    background-position:  center;
    padding: 6px 12px;
}
.decoracion{
    text-decoration-style: none; 
    color: white;
    /* margin-left: 25px; */
}
a.decoracion:hover{
    text-decoration: none;
    color: white;  
} 
a.decoracion:visited{
    text-decoration: none;
    color: white;
}
a.decoracion:active{
    color: white;
}
.tama{
    text-decoration: none;
    margin-left: 100%;
}
/*Footer  */
/* .footer {
  position: absolute;
      right: 0;   
   bottom: 0; 
   left: 0;
   padding: 1rem;   
  background-color: #616161;
   text-align: center; 
} */
@media (max-width: 768px){
    .espaciado{
        line-height: 23px;
    }
    .tam2{
        font-size: 20px;
    }
    .tam{
        font-size: 15px;
    }
    div.caja1{
        height: 400px;
    }
     #navegacion{
    margin-left: 40%;
} 
    div.caja1{
        margin-top: 90px;
    }
}